<h1 class="">Menu</h1>
<div class="container my-5">
  <div class="row">
    <div class="col-sm-6 col-xs-12">Notice 1
      <app-noticias [numArt]=1 ></app-noticias>
    </div>
    <div class="col-sm-6 col-xs-12">Notice 2
      <app-noticias [numArt]=2></app-noticias>
    </div>
  </div>



  <div class="row ">
    <div class="d-flex justify-content-center align-items-center ">
      <!-- [view]="view" -->
      <ngx-charts-pie-chart
        
        [scheme]="colorScheme"
        [results]="single"
        [gradient]="gradient"
        [legend]="showLegend"
        [legendPosition]="legendPosition"
        [labels]="showLabels"
        [doughnut]="isDoughnut"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)"
        >
      </ngx-charts-pie-chart>

    </div>
    
  </div>



</div>
